{% extends "Common/layout.html.twig" %}

{% block body %}
<div id="container">
    <div class="align-center">
        <img src="img/logo.png" />
    </div>
    <div class="content"></div>
</div>
{% endblock %}